#### 1. Import function connect from module

In [1]:
from module import connectmaraidb

#### 2. Read data from titanic table

In [6]:
def fetch_data():
    # Connect to MariaDB
    conn = connectmaraidb.connect()

    # Create a cursor
    cursor = conn.cursor()

    # Execute SQL query
    cursor.execute("SELECT * FROM titanic LIMIT 20")

    # Fetch all the rows
    rows = cursor.fetchall()

    # close cursor
    cursor.close()

    # close connection
    conn.close()

    # return rows
    return rows

#### 3. เรียกใช้งานฟังก์ชัน fetch_data

In [7]:
fetch_data()

[(1,
  0,
  3,
  'Braund, Mr. Owen Harris',
  'male',
  '22',
  1,
  0,
  'A/5 21171',
  Decimal('7.2500'),
  '',
  'S'),
 (2,
  1,
  1,
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'female',
  '38',
  1,
  0,
  'PC 17599',
  Decimal('71.2833'),
  'C85',
  'C'),
 (3,
  1,
  3,
  'Heikkinen, Miss. Laina',
  'female',
  '26',
  0,
  0,
  'STON/O2. 3101282',
  Decimal('7.9250'),
  '',
  'S'),
 (4,
  1,
  1,
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'female',
  '35',
  1,
  0,
  '113803',
  Decimal('53.1000'),
  'C123',
  'S'),
 (5,
  0,
  3,
  'Allen, Mr. William Henry',
  'male',
  '35',
  0,
  0,
  '373450',
  Decimal('8.0500'),
  '',
  'S'),
 (6,
  0,
  3,
  'Moran, Mr. James',
  'male',
  '',
  0,
  0,
  '330877',
  Decimal('8.4583'),
  '',
  'Q'),
 (7,
  0,
  1,
  'McCarthy, Mr. Timothy J',
  'male',
  '54',
  0,
  0,
  '17463',
  Decimal('51.8625'),
  'E46',
  'S'),
 (8,
  0,
  3,
  'Palsson, Master. Gosta Leonard',
  'male',
  '2',
  3,
  1,
  '349909',
  Decimal('21.0750'),
  '',
  'S'),
 (9,
  1,
  3,
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'female',
  '27',
  0,
  2,
  '347742',
  Decimal('11.1333'),
  '',
  'S'),
 (10,
  1,
  2,
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'female',
  '14',
  1,
  0,
  '237736',
  Decimal('30.0708'),
  '',
  'C'),
 (11,
  1,
  3,
  'Sandstrom, Miss. Marguerite Rut',
  'female',
  '4',
  1,
  1,
  'PP 9549',
  Decimal('16.7000'),
  'G6',
  'S'),
 (12,
  1,
  1,
  'Bonnell, Miss. Elizabeth',
  'female',
  '58',
  0,
  0,
  '113783',
  Decimal('26.5500'),
  'C103',
  'S'),
 (13,
  0,
  3,
  'Saundercock, Mr. William Henry',
  'male',
  '20',
  0,
  0,
  'A/5. 2151',
  Decimal('8.0500'),
  '',
  'S'),
 (14,
  0,
  3,
  'Andersson, Mr. Anders Johan',
  'male',
  '39',
  1,
  5,
  '347082',
  Decimal('31.2750'),
  '',
  'S'),
 (15,
  0,
  3,
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'female',
  '14',
  0,
  0,
  '350406',
  Decimal('7.8542'),
  '',
  'S'),
 (16,
  1,
  2,
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'female',
  '55',
  0,
  0,
  '248706',
  Decimal('16.0000'),
  '',
  'S'),
 (17,
  0,
  3,
  'Rice, Master. Eugene',
  'male',
  '2',
  4,
  1,
  '382652',
  Decimal('29.1250'),
  '',
  'Q'),
 (18,
  1,
  2,
  'Williams, Mr. Charles Eugene',
  'male',
  '',
  0,
  0,
  '244373',
  Decimal('13.0000'),
  '',
  'S'),
 (19,
  0,
  3,
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'female',
  '31',
  1,
  0,
  '345763',
  Decimal('18.0000'),
  '',
  'S'),
 (20,
  1,
  3,
  'Masselmani, Mrs. Fatima',
  'female',
  '',
  0,
  0,
  '2649',
  Decimal('7.2250'),
  '',
  'C')]